body{
    width: 100%;
    margin: 0;
    background-color: black;
}

h1{
    font-size: 75px;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 10px;
    letter-spacing: 10px;
    line-height: 110%;
    color: #e5ded9;
    font-family: "Reaver", serif;   
    text-align: center;
}
.game{
    padding: 15px;
    position: absolute;
    background: #ffffff50;
    border-radius: 10px;
    right: 25px;
    top:75px;    
    font-family: "Reaver", serif;
    font-size: 25px;
    color: #e5ded9;
    text-align: right;
}

h3{
    font-family: "Reaver", serif;
    font-size: 35px;
    font-weight: 500;
    color: dodgerblue;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
}
.padre{
    display: flex;
    width: auto;
    padding: 20px;
    margin-top:80px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.hijo1{
    height: 80%;
    background:  #ffffff50;
    padding: 30px;
    margin: 20px;
    padding-bottom: 120px;
    

    
}
.hijo2{
    height: 80%;
    background: dimgrey;
    padding: 30px;
    margin: 20px;
    padding-bottom: 120px;
}
hr{
    color: red;
    border-style: dashed;

}


p{
    font-family: "Reaver", serif;
    color: #e5ded9;
}
a.enlace:link{
    font-family: "Radiance", "Noto Sans", sans-serif;
    padding: 22px;
    margin-top: 50px;
    font-size: 30px;
    border: solid;
    font-weight: 900;
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

a.enlace:visited{
    color:honeydew;}
    #titulo{
        color: honeydew;
    }   
a.enlace:hover{
        color:orange;
        border-color:  dodgerblue;}
       
p{
    font-family: "Reaver", serif;
    text-align: justify;
    margin-bottom: 70px;
} 
.mario{
    width: 1000px;
    justify-content: center;
    display: inline-flex;
}
.mortal{
    width: 1000px;
    text-align: center;
    display: inline-flex;
}

div{
    text-align: center;
}

footer{
    font-family: "Reaver", serif;
    font-size: 35px;
    font-weight: 500;
    color: blueviolet;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;}



    